{% extends 'master.html.twig' %}

{% block content %}
    {% set settingsName = object.getType() %}
    <h1>Change the {{ settingsName }}'s setting</h1>
    <a href="readForum.php?{{ settingsName }}Id={{ object.id }}" class="rightAlign">Back</a>
    <form action="newSettings.php" method="POST">
        <input type="hidden" name="type" value="{{ settingsName }}" />
        <input type="hidden" name="idVal" value="{{ object.id }}" />
        <fieldset>
            <legend>Alterable</legend>
            Name: <input type="text" name="newName" value="{{ object.name }}" placeholder="New name" />
            <br />
            Description: <textarea name="newDescription" placeholder="New name">{{object.description}}</textarea>
        </fieldset>
        <fieldset>
            <legend>Immutable</legend>
            ID: {{ object.id }}
            <br />
            Creator: {{ creatorName }}
        </fieldset>
        <button type="submit">Save settings</button>
        <button type="reset">Revert changes</button>
    </form>
{% endblock %}